<section class="logSect">

<form action="/login" method="POST" id="logForm">
<div id="containerLog"


<label for="username">Username: </label>
<input type="text" id="username" name="username">

<label for="password">Password: </label>
<input type="password" id="password" name="password">

</div>

<button type="submit" class="but">LOG IN</button>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
</div>
</form>

</section>