<p>Bienvenido a MascotApp, la página donde podrás guardar todos los datos de tus peludetes y también estar al tanto de eventos y demás cosas que pasen cerca de ti.</p>

<p>Únete!</p>

<form action="/signup" method="GET">
<button type="submit">Join US!</button>
</form>

<form action="/login" method="GET">
<button type="submit"> Enter</button>
</form>