<div id="home">
<h2>Bienvenido a MascotApp, la página donde podrás guardar todos los datos de tus peludetes y también estar al tanto de eventos y demás cosas que pasen cerca de ti.</h2>

        <h3>Únete!</h3>
    <div class="container">
        <form action="/signup" method="GET">
            <button type="submit">Join!</button>
        </form>

        <form action="/login" method="GET">
            <button type="submit">Enter!</button>
        </form>
    </div>    
</div>
