<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>Mascotapp</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/newPet">Add your pet</a></li>
            <li><a href="/allPets">See your pets</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/adoptions">Adopts</a></li>
                <ul class="logs">
                    {{#if user}}
                    <li><a href="/logout">Log Out</a></li>
                    {{else}}
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                    {{/if}}
                </ul>
        </ul>
    </nav>
    {{{body}}}
{{!-- <div>
    <img src="https://www.hola.com/imagenes/estar-bien/20191205155716/razas-de-perros-adiestrar/0-756-6/razas-de-perro-adiestrar-a.jpg?filter=ds75" alt="">
</div> --}}
</body>
</html>