body {
  margin: 0;
  padding: 0;
  background-image: url("../images/patron-huesos-costuras_1284-43081.jpg");
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Sansita Swashed', cursive;
  color: rgb(0, 0, 0);
}

nav {
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
}

li a:hover {
  background-color: #111;
}

.logs {
  float: right;
}

.logs a:hover {
  background-color: rgb(2, 253, 199);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: fit-content;
  background-color: white;
  text-decoration: none;
  padding: 1rem;
  margin: 0 2rem;
}

img {
  border-radius: 5px 5px 0 0;
  width: 15rem;
}

a {
  text-decoration: none;
  color: black;
}

#containerLog {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.logBut {
  margin-top: 1.5rem;
}

#logForm {
  width: 25rem;
  padding: 2em;
}

.logSect {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#divTitle {
  display: flex;
  justify-content: center;
}

#allTitle {
  width: fit-content;
  height: fit-content;
  background-color: #111;
  color: white;
}

#allSect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.3rem
}

#adoptSect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formDiv {
  margin-left: 2rem;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

.row {
  display: flex;
}

#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 13rem;
}

#home h2 {
  width: 50vw;
  font-size: 1.5rem;
}

#home h3 {
  font-size: 2rem;
}

#home button {
  width: 15rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: 'Sansita Swashed', cursive;
}

#home button:hover {
  color: white;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.but {
  height: 2rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: 'Sansita Swashed', cursive;
}

.buttons {
  margin-left: 1rem;
}

.adoptSingl {
  margin: 2rem 2rem 2rem 0;
}

.petSingl {
  margin: 2rem 2rem 2rem 0;
}

.container{
  display: flex;
  background-color: rgb(134, 134, 134, .7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: fit-content;
}

.divider{
  background-color: rgba(134, 134, 134, .3);
  height: 2px;
}

.adoptLogForm{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.adoptLogForm input{
  align-items: center;
}

.addLogForm{
  display: flex;
  flex-direction: column;
  width: min-content;
}

